<div id="<%= dom_id placement %>">
  <p>
    <strong>Floor:</strong>
    <%= placement.floor %>
  </p>

  <p>
    <strong>Product shelf:</strong>
    <%= placement.product_shelf %>
  </p>

  <p>
    <strong>Cosmetic:</strong>
    <%= placement.cosmetic_id %>
  </p>

</div>
